html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

// .page-layout {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
// }

.table-container {
  height: 90%;
  flex-grow: 1; // Ensures the container expands to fill the available space
  // overflow: auto; // Allows scrolling if the content overflows
  display: flex;
  flex-direction: column;
}