$bg-color: #f0f2f5;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$card-radius: 10px;
$background-height: 200px;
$background-radius: 20px;
$profile-margin-top: 60px;
$profile-margin-bottom: 10px;

@mixin background-image($url) {
  background-image: url(#{$url});
  background-size: cover;
  background-position: center;
}

// Parent Container
.profile-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;


  // Background Image
  .background-image {
    @include background-image('../../assets/images/bg-profile.jpg');
    height: $background-height;
    width: 100%;
    border-bottom-left-radius: $background-radius;
    border-bottom-right-radius: $background-radius;
    position: absolute;
    top: 0;
    z-index: 0;

    // // Text on Background
    // .background-text {
    //   position: absolute;
    //   top: 0;
    //   left: 20px;
    //   color: white;
    //   z-index: 1;
    // }
  }

  // Profile Card
  .profile-card {
    max-width: 1200px;
    width: 100%;
    height: 200px;
    border-radius: $card-radius;
    box-shadow: $card-shadow;
    margin-top: $profile-margin-top;
    margin-bottom: $profile-margin-bottom;
    z-index: 1;

    .profile-card-body {
      padding: 15px;
      margin: 5px;
    }

    // Profile Info
    .profile-info {
      display: flex;
      align-items: center;

      .profile-info-text {
        margin-left: 16px;

        .profile-info-title {
          margin: 0px;

        }
      }
    }

    // Tabs
    .profile-tabs {
      // margin-top: 16px;
      height: 20px;
    }
  }
}

.profile-container .ant-card-body {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.profile-container .ant-tabs-nav {
  margin: 0px;
}

.profile-container .ant-typography {
  margin: 0px;
}

.project-card .ant-card-head {
  background-color: #f0f0f0;
  /* Custom background */
  color: #333;
  /* Custom text color */
  font-size: 18px;
  /* Custom font size */
  padding: 0px;
  /* Custom padding */
  border-bottom: 2px solid #d9d9d9;
  /* Custom border */
}